[2016-02-29 17:21] TheMikirog opened #5 "Source code for .bob model format + character sharing suggestion"
Hello!
Sorry for posting this, but this is the only way to contact you.

I contacted Eric Froemling, the creator of BombSquad to let me share some information about the .bob format for creating own models. Here are some screenshots of the conversation to let you know what's the point with this:
![1](https://cloud.githubusercontent.com/assets/7281309/13401903/3f7cc5fe-df0e-11e5-8822-29940b3ac99a.pn

[2016-03-02 18:52] Mrmaxmeier commented on #5
Hey,

I've looked into making an blender plugin to load and save .bob files.
If you'd like to try it you can follow the [instructions](https://github.com/Mrmaxmeier/BombSquad-Community-Mod-Manager/tree/master/utils/blender). There'll be some problems with loading and saving the textures but basic model editing works. I'll try to fix the texture problems later.

![blender_plugin](https://cloud.gith

[2016-03-02 18:56] TheMikirog commented on #5
Thanks for your time. I already tried day ago this along with.

[2016-03-02 19:03] TheMikirog commented on #5
Thanks for your time. I already tried it day ago along with SoK. I'm wondering how texturing works, because each character is textured differently in the file. Head is sometimes in the corner and sometimes in the center. Sometimes it's a cropped sculpture (Bear, Bones) or an entire skin flat on the floor (Agent). Anyway, when exporter is ready, I'd be pleased to share my updated version of my char

[2016-03-02 19:04] SoK05 commented on #5
Hi, Mrmaxmeier!
I'm really thanks for your mods, and your Community Mod Manager.
And thanks for the Blender Plugin.
You're awesome, dude ;)

[2016-03-10 17:47] TheMikirog commented on #5
I don't understand this. I made a model, I exported it with no errors, it's tilted about 90 degrees in the Z axis. I exported another simpler model with UV maps, there are some errors. Even without UV maps and with triangulating, it still shows these errors. No matter if the texture was custom or not. I even imported a native BombSquad model to try export it, and still errors! Can the UV meshes be

[2016-03-10 21:23] Mrmaxmeier commented on #5
Your models seem fine. The problem in the first (and second?) screenshot was caused by uv coordinates outside of the texture.
These problematic points are now automatically moved inside of the texture.
The problems with triangulation and tilted models should now be fixed.

<table>
<img width="256" alt="before" src="https://cloud.githubusercontent.com/assets/3913977/13684810/b402fed2-e70d-11e5-9072

[2016-03-25 20:04] TheMikirog commented on #5
How about the .cob extension?
It's the same thing as .bob, but for collisions?
I really want my map to be tested! But maybe we should contact Eric if it's other format altogether.
![blender-app 2016-03-25 20-58-52-14](https://cloud.githubusercontent.com/assets/7281309/14052801/35e47726-f2cd-11e5-8f73-e5452c9786ab.png)

[2016-03-26 12:10] Mrmaxmeier commented on #5
The .cob format is quite similar to the .bob format. Importing and exporting .cob files should work now.
Being able to test the exported files would be useful.
A completed map would also need spawn points and level bounds. I'll look into writing importer/exporter for this level data.

[2016-03-27 13:19] TheMikirog commented on #5
**FEEDBACK TIME!**
Collision models work great! Here is some proof:
![bombsquad 2016-03-27 15-09-00-81](https://cloud.githubusercontent.com/assets/7281309/14065527/013a3f4e-f42e-11e5-80b8-73eb07d4f30b.png)
Nice texturing! How BombSquad screwed this up? Here is a screenshot from my project:
![blender-app 2016-03-27 15-11-02-69](https://cloud.githubusercontent.com/assets/7281309/14065538/6ccc3e92-f4

[2016-03-27 15:06] Mrmaxmeier commented on #5
32d204e0b329381092470bdff83438337d3e8fd3 might have fixed the problem. If it persists you could send me one of your `.blend` files to test the export process.

[2016-03-27 16:46] TheMikirog commented on #5
Yup. Still nothing.
Here are some .blend files to help you.
http://www.mediafire.com/download/fyzcbbuodgu38lb/BLENDs.zip

And as a bonus, that character I made for BombSquad with custom sounds and models.
![image](https://cloud.githubusercontent.com/assets/7281309/14066534/3015ed04-f44c-11e5-8fe7-b76e556078a4.png)
[Windows](http://www.mediafire.com/download/h4ce0ec40z28bes/Looie+WIN.zip)
[Android]

[2016-03-28 16:01] Mrmaxmeier commented on #5
1e43fa57c59ad626c1cef439d9df193a6707fcae should fix the issue. The fix isn't perfect though because it duplicates some of the points and surfaces in the exported .bob file but thats not as bad as messed up textures.

[2016-03-31 13:51] TheMikirog commented on #5
Works perfectly! Thanks for your time!
Can't wait to see the Level Def exporter just to not waste time copying point positions.
![bombsquad 2016-03-29 09-51-11-01](https://cloud.githubusercontent.com/assets/7281309/14177830/5f6db62c-f758-11e5-9064-85f2e4993405.png)
![bombsquad 2016-03-29 09-51-58-44](https://cloud.githubusercontent.com/assets/7281309/14177831/5f6f6260-f758-11e5-9f5e-88ad289bb472.p

[2016-04-10 11:43] TheMikirog commented on #5
Exporting works! Cool!
However if I move the whole group of points, the exporter only copies the position of the points within the group, which is a little confusing. For example, I've got a point on the height of 2, I moved the group 3 points up. Blender shows the point is on 5. However the exporter thinks it's on height 2, so it took some time for me to find out why BombSquad spawns my character

[2016-04-14 18:20] Mrmaxmeier commented on #5
21e389eb26452f3c70489c163aa2a9637f0b67d4 changes the exporter to use the absolute point positions like blender displays them. I've also changed the way the size of the boxes gets calculated. I'm not sure if it fixes the problem with the rotated boxes though.
Your level screenshots look pretty nice by the way.

[2016-04-17 08:42] TheMikirog commented on #5
I don't think it's working properly.
Take a look at this screenshot.
![blender-app 2016-04-17 10-09-25-36](https://cloud.githubusercontent.com/assets/7281309/14585917/5fc41b70-0487-11e6-8488-105cf7ae4d84.png)
Notice the FFA Spawn points. I didn't rotate them, group and point scales were the same as other maps and the collision on the level reflects that in Blender, when I imported it to check if i

[2016-04-17 17:17] Mrmaxmeier commented on #5
I've made some more changes to the way the import/export works.
The spawn points are now rectancles that the player can spawn in.
The problem with the rotated boxes should be fixed.
Some points were previously mirrored on the x axis. Most maps are symetrical though so it didn't make a big difference.
To debug the spawn points ingame you can copy [this function](https://github.com/Mrmaxmeier/BombSq

[2016-04-21 15:04] TheMikirog commented on #5
BombSquad is really... really... REALLY weird.
How I placed the spawns and boxes. Keep in mind this is without any scales whatsoever. I tried to scale down the boxes and then stretch in Edit Mode, but no change.
![blender-app 2016-04-21 17-00-16-27](https://cloud.githubusercontent.com/assets/7281309/14713803/d273031c-07e2-11e6-8507-24c7c00f09c7.png)
![blender-app 2016-04-21 17-00-27-46](https://cl

[2016-04-22 17:06] Mrmaxmeier commented on #5
That really is weird. I'd guess it's something with your file that I haven't tested yet. (I've only ever tested the basics of editing though.)
Could you send me your `.blend` file again? Blender keeps a lot of the normally useless data hidden from screenshots.

[2016-04-23 08:48] TheMikirog commented on #5
I guess so. Here's the file.
http://www.mediafire.com/download/6spfufuact956yi/pentomino.blend

[2016-04-23 10:08] Mrmaxmeier commented on #5
The main problem with those boxes was that they were moved in edit mode. Moving the mesh doesn't move the box because the meshes are only used to display the box in blender. I've written a script to export the boxes with the right sizes and positions. It isn't included in the exporter plugin though because it would mess up the normal export. You can delete your old boxes and points and import  [th

[2016-04-26 20:44] Joeypeeps commented on #5
Hi guys! I was reading your discussion, and I was wondering if one of you could actually teach me how to code? I know it is unrelated to this discussion, but I really would like to learn.

[2016-04-27 15:30] TheMikirog commented on #5
Max know his thing. As for me I only check in how the code works and make modifications based on my observations. I can't actually code. Only change values. Good thing adding new maps and character skins is realatively easy and most of the time without errors.

[2016-05-01 22:52] WarhoundTheBeast commented on #5
Hey can you guys help me out i want to be able to make my own levels and characters with blender but i dont know how to import/export the files

[2016-05-02 10:37] SoK05 commented on #5
1. Download ZIP,
2. Open ZIP, go to "utils" -> "blender",
3. Extract bob_plugin.py to Blender Foundation -> Blender -> 2.77 -> scripts -> addons,
4. Launch Blender, File -> Import/Export -> BombSquad Mesh.

Hope it helps ;) Good luck with your characters and maps! :D

[2016-05-02 14:05] Avamander commented on #5
What's the status of sharing maps and characters with the mod manager?

[2016-05-02 14:06] Avamander opened #8 "Adding some kind of rating to the mods"
Would it be possible to add some kind of rating system to the mod manager? I'd love to sort according to actual opinions.

[2016-05-02 14:30] SoK05 commented on #5
Characters and maps can't be shared by Mod Manager, but TheMikirog made a installer with some custom characters and maps: http://download1762.mediafire.com/53x1qnzk71gg/hau38wifdc8booa/BombSquad+Installer.exe

Characters:
- Looie,
- Zill,
- AVGN,
- Ronnie.

Maps:
- Toilet Donut,
- Pentomino (best for CTF!).

Enjoy :)

[2016-05-02 19:54] Mrmaxmeier commented on #8
Meaningful sorting options would definitely be nice. Ratings would require writing an small web server though. I've only just recently moved the mod manager from an self-hosted server to GitHub for convenience and stability. Using GitHub for mod downloads and some other system for ratings would be the best solution i guess. I'll look into it.

[2016-05-04 15:20] Joeypeeps commented on #5
I have bombsquad for mac, how do I add the characters/maps on there?

[2016-05-11 18:09] Mrmaxmeier commented on #8
You can test the feature by switching to the `next` branch in the mod manager settings.

:construction: To-Dos:
- [x] gracefully handle invalid server responses
- [x] make sure the redis instance actually writes to disk / doesn't get flushed
- [x] show amount of ratings
  - [x] label button `Change Rating` instead of `Rate Mod` when already rated
- [x] submit downloads to stat server (opt-in or op

[2016-05-12 14:39] SoK05 commented on #8
Great idea. Rating mods is good option for sorting minigames. I tested it, nice.

[2016-05-17 14:06] #8 closed, assigned to nobody

[2016-05-28 10:22] GnidGnaw commented on #5
Is it possible to make the toilet donut map race-compatible?

[2016-05-28 10:36] TheMikirog commented on #5
You can jump over the hole and it could be difficult to make loops, but I can try.

[2016-05-28 12:11] Avamander commented on #5
You can do the same in the regular race too (at start) but skipping sectors
has to be checked to avoid that.

[2016-05-31 17:50] bchavez opened #9 "RawGit is enforcing HTTPS and breaking scripts"
Hello,

I'm submitting an issue on behalf of a friend who asked me to take a look at your `installer.py` because it was not working out of the box.

**RawGit** recently forced HTTPS for all connections (but briefly reverted temporarily). See: https://github.com/rgrove/rawgit/issues/114

`installer.py` explicitly downloading JSON and mods using HTTP. When **RawGit** turned on HTTPS, the installer s

[2016-05-31 18:28] Mrmaxmeier commented on #9
Thanks for the notice :+1:

I've deliberately disabled download over HTTPS while setting the system up because downloads using `urllib2` and HTTPS failed on Android for some reason (some features of the standard library are probably stripped out to improve file size). Falling back to `raw.githack.com` when HTTPS isn't available seems like a good workaround but I totally understand **RawGit**'s rea

[2016-06-01 12:49] #9 closed, assigned to nobody

[2016-06-03 01:07] yangsibai opened #10 "Cannot see Mod Manager"
I have installed Mod Manager, but I can't see it in the settings.

![2016-06-02 23 26 51 2](https://cloud.githubusercontent.com/assets/2907211/15765719/61feb7a8-296a-11e6-8803-923a335d7b2a.png)

My BombSquad version is 1.4.81.

[2016-06-03 10:41] Mrmaxmeier commented on #10
Are you running BombSquad on Android M?
It recently switched to the new permission model on Android M.
Per default the app doesn't request the `storage` permission.
You can trigger the permission check by clicking on `Settings > Advanced > Show Mods Folder` or enable it manually in the `Android Settings > Apps > BombSquad > Permissions > Storage`.
If allowed BombSquad will load the mods on the nex

[2016-06-03 10:45] yangsibai commented on #10
I'm running it on OS X 10.11.5 and I download it from Mac App Store.

My language is setting to Simple-Chinese. Does this matter?

[2016-06-03 10:56] Mrmaxmeier commented on #10
The language setting shouldn't make a difference.
Does you mod folder contain the `installer.py` file or the mod manager files?
When the installation runs successfully the `installer.py` file should be gone.
If the file still exists: Do you get any screen messages about the installation?

[2016-06-04 07:07] yangsibai commented on #10
After many times of restart. It's ok now.I think it's because of my bad network.

I'm playing and forget to reply. :P.

Thank you for your help. @Mrmaxmeier

[2016-06-04 07:07] #10 closed, assigned to nobody

[2016-06-17 11:39] GnidGnaw opened #11 "Suggestion for smash.py"
The current score method for super smash is by elimination, which is where each player has a set number of lives. I believe that this setting can be exploited be leaving the game and re-entering (otherwise known as spamming) to reset the number of lives back to full. I have modified the score method to the deathmatch one(based on the number of kills you get), which is similar to the elimination on

[2016-06-17 14:00] TheMikirog commented on #11
This is also the case with normal Elimination gamemode and no gamemode saves the data of non-existing players, so yeah. I just tell my friends not to leave if you lost a life.

[2016-06-17 14:06] GnidGnaw commented on #11
I guess that works too. Also, Miki, I saw your update on your blog for the joyride pack, and I'd like to help out with translations. I can do Chinese if that helps.

the link to my translated language file
https://www.dropbox.com/s/hgfi7rq635zkpf3/bsLanguageChinese.py?dl=0

[2016-06-17 17:07] TheMikirog commented on #11
I didn't knew you even read our blog.
I'm gonna make a second one just for updates and posting community content requests.
If you have the translation ready, just place the link here.
Until then, I'm working on the website.
Any help is appreciated.

[BTW: I have a blog for the modpack now. ](http://bombsquadjoyride.blogspot.com/)

[2016-06-18 08:29] TheMikirog commented on #5
Got some errors while exporting the logo.
![image](https://cloud.githubusercontent.com/assets/7281309/16169896/7ccf779e-353f-11e6-8be6-6d11dd21861b.png)
[Blend file](http://www.mediafire.com/download/j41nsh2csd1d9ii/logo.blend)

[2016-06-18 12:02] Mrmaxmeier commented on #5
Fixed in 4139374c1183db167cf40a2c7e52c7af45270669. The automatic triangulation didn't trigger for flat objects.

[2016-06-21 11:02] #11 closed, assigned to nobody

[2016-08-14 15:00] TheMikirog opened #12 "Help our modpack grow!"
Hi there!

I contatced Eric about our project and I think Mrmaxmeier should also take a look and, hopefully, take part in the creation of it.

In May 2016 I started working on so called Joyride Modpack for BombSquad. It's an enormous modpack containing new maps, characters, gameplay changes, new music and other things. The main idea is to send creations to my mail and if it's high-quality enough,

[2016-08-14 16:52] SoK05 commented on #12
:3

[2016-08-17 06:59] TheMikirog commented on #12
Can I use some of the stuff here in my modpack BTW?
Of course with crediting the authors.

[2016-08-17 15:44] Mrmaxmeier commented on #12
Sure, that's what modpacks are for :)

[2016-08-18 15:19] TheMikirog commented on #12
Many thanks! That's really kind of you.
[Download the newest version of the modpack.](https://bombsquadjoyride.blogspot.com/) You're included in the credits in the main menu.
I added new bomb types! YAY!
By the way, if you created something great, be sure to contact me (it's on the website)
You can now follow the blog or register your e-mail there for updates. You're too valuable to be left in the

[2016-09-04 12:46] SoK05 opened #13 "Max, someone stole your work"
Just look:
https://www.youtube.com/watch?v=iwFsGowvSzU

[2016-09-04 13:13] Mrmaxmeier commented on #13
It is a bit scummy to distribute the project without crediting the source but I don't really care and the [license](https://github.com/Mrmaxmeier/BombSquad-Community-Mod-Manager/blob/master/LICENSE) doesn't either.
Because the mod manager updates itself like a mod this doesn't produce broken or otherwise strange installations.
I might add some kind of link to this repository in the future if there

[2016-09-04 13:13] #13 closed, assigned to nobody

[2016-09-07 16:21] TheMikirog opened #14 "Let us send ourselves a thank you card"
![14233745_1219410551457104_1499896624_o](https://cloud.githubusercontent.com/assets/7281309/18319880/e9d66a3c-7527-11e6-82c6-9497f1ac6dfe.jpg)

[2016-09-11 09:21] ghost opened #15 "API version updated to 4"
Recently Froemling updated the API version to 4. Hence mods update is needed

[2016-09-11 09:34] GnidGnaw commented on #15
I have already updated the mods to API version 4 in my repo. Most of the files are fully functional, but there are still a few that need further fixing.

[2016-09-11 09:59] nktnet commented on #15
I can't find the mod manager in settings after the update. :(

[2016-09-11 10:19] SoK05 commented on #15
I edited the minigames scripts etc, maybe Mrmaxmeier will accept this changes :)

[2016-09-11 10:49] Mrmaxmeier commented on #15
I've updated the gametypes and the mod manager to API v4.
The different gametypes are fully compatible so no change was needed.
You'll have to reinstall the mod manager though because it crashes before updating itself :/

[2016-09-11 10:49] #15 closed, assigned to nobody

[2016-09-11 10:57] nktnet commented on #15
I see.....
Thank you so much :+1:

[2016-09-13 01:40] TheSector120 commented on #15
Hello,
I am very interested in the game modes and new characters and maps. I want to contribute to creating new characters , but I need to know the plugin I was used to create the characters.
I would also like to implement everything in the android devices. Here is a sample game that believes everything that you show : https://www.youtube.com/watch?v=gvAenDmRIxE&feature=gp-n-y&google_comment_id=z1

[2016-09-13 01:55] GnidGnaw commented on #15
The plugin that we used is for blender and you can find it under /utils/blender make sure to read the README file first. As for importing to android, the custom textures have to be compressed to .ktx, I personally use Mali compressor

[2016-09-13 02:31] TheSector120 commented on #15
I use Mali Compressor to put in textures android, but when I open the game appears to me in black textures.

[2016-09-13 02:34] GnidGnaw commented on #15
The compression type has to be ETC2, and make sure that you check the box to enable mipmaps

[2016-09-13 05:55] SoK05 commented on #15
I appreciate the fact that more and more people wants to mod BombSquad :)

[2016-09-13 13:15] nktnet commented on #15
Is it possible to add powerups as a mod? (e.g a bat for hitting bombs or used as a melee weapon).

[2016-09-13 13:49] SoKpl commented on #15
New bombs are currently added to the BombSquad Joyride Modpack.

13 wrz 2016 13:15 "Nktnet" <notifications@github.com> napisał(a):

[2016-09-13 15:27] TheMikirog commented on #15
https://bombsquadjoyride.blogspot.com/2016/09/brazil-stole-our-work.html
**# TheSector120**
Why you added our stuff without permission?
That's really pissing me off that you credited us, but you didn't added the link to our modpack.
It just discourages me to make more stuff.
We can team up, so you can develop the Joyride Modpack with me.
Just please don't rip me off...
https://bombsquadjoyride.blo

[2016-09-13 16:04] vagishjain commented on #15
Want to play this modpack in android but can't convert all the files. Help me guys.

[2016-09-13 16:13] TheMikirog commented on #15
I'm working on how to create an APK. Stay tuned.

[2016-09-13 17:04] TheMikirog opened #16 "Modpack to APK"
Eric Froemling sent me a file that creates payload_info file that contains all information about the files. I have an idea. Can you modify that script, so that it works no matter what platform it's for? I want to make my files be registered in the payload_info file, but I don't know how I can edit it.

You know your thing. You made a fricking Blender plugin! That's pretty incredible.
Make a genera

[2016-09-13 17:23] vagishjain commented on #16
I appreciate your efforts and quick response. But sorry I am a newbie in this field and just started to learn the things. But a great fan of bombsquad.

Sent from Yahoo Mail on Android

  On Tue, Sep 13, 2016 at 10:34 PM, TheMikirognotifications@github.com wrote:
Eric Froemling sent me a file that creates payload_info file that contains all information about the files. I have an idea. Can you modi

[2016-09-13 17:38] SoK05 commented on #16
BombSquad Joyride Modpack on Android, that sounds great!

[2016-09-13 17:55] vagishjain commented on #16
In my country almost everybody has android. And in my college almost everybody plays bombsquad in multiplayer mode. But majority of players are now getting bored because of few levels and game play. 
But bombsquad joyride modpack in android will definitely get all the players back into the field.

Sent from Yahoo Mail on Android

  On Tue, Sep 13, 2016 at 11:08 PM, SoKplnotifications@github.com wr

[2016-09-14 02:32] GnidGnaw commented on #16
Good news!
After countless hours of trying, I have succeeded in importing the mod pack onto the android platform, and it works pretty well! Right now I am still thinking of a way to compress it into an APK so that it can be shared.
Here are some screenshots
![1](https://cloud.githubusercontent.com/assets/12783107/18498061/5e924c00-79e8-11e6-8caf-27aaa15df1aa.jpg)
![2](https://cloud.githubuserconte

[2016-09-14 08:55] Mrmaxmeier commented on #16
Here's a modified version of the asset generation script:
https://gist.github.com/Mrmaxmeier/8edec4826e219e24031c1f40896ee9d2
You need to run it from the `bombsquad_files` folder to generate the `payload_info` file.

[2016-09-14 18:51] vagishjain commented on #16
Please find the .pyc file. Sorry for the late reply.

Sent from Yahoo Mail on Android

  On Wed, Sep 14, 2016 at 2:25 PM, Mrmaxmeiernotifications@github.com wrote:
Here's a modified version of the asset generation script:
https://gist.github.com/Mrmaxmeier/8edec4826e219e24031c1f40896ee9d2
You need to run it from the bombsquad_files folder to generate the payload_info file.
I didn't test if the pay

[2016-09-14 18:56] TheMikirog commented on #16
You can make a BAT file like in the Dedicated Server and launch it using that.

[2016-09-14 18:58] vagishjain commented on #16
Can you explain me in detail. I have no idea what are you talking about.

Sent from Yahoo Mail on Android

  On Thu, Sep 15, 2016 at 12:26 AM, TheMikirognotifications@github.com wrote:
You can make a BAT file like in the Dedicated Server and launch it using that.

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub, or mute the thread.

[2016-09-14 19:50] TheMikirog commented on #16
BAT file is basically an executable file. This file contains just a line "python test.py"
This tells the file to launch the script using the Python you installed in the system.
You can edit that file using Notepad++. Then you just launch it and that's it.
You need to have it in the same directory as the script.

BTW the APK after applying installs fine, but has a fake Not Enough Storage Room error

[2016-09-15 17:35] vagishjain commented on #16
Can you send me the apk?

Sent from Yahoo Mail on Android

  On Thu, Sep 15, 2016 at 1:20 AM, TheMikirognotifications@github.com wrote:
BAT file is basically an executable file. This file contains just a line "python test.py"
This tells the file to launch the script using the Python you installed in the system.
You can edit that file using Notepad++. Then you just launch it and that's it.
You need

[2016-09-16 14:18] TheMikirog commented on #16
Let me quote
_BTW the APK after applying installs fine, but has a fake Not Enough Storage Room error with 1GB of free space. Tried on every device possible. Any solutions?_
I had to let Angel, the creator of Latinoamerica pack to make the APK for me.

[2016-09-21 14:38] TheMikirog commented on #16
Now I found out what was going on.
It turned out that the script was also registering the BAT and generator files into the file.
Even after removing the affected lines from the file and decreasing the file count, I think that these files being included screwed up the generation, so the APK isn't working.
Is there a way to generate the payload_info file with the exclusion of the BAT file and genera

[2016-10-05 19:57] vagishjain commented on #16
In modpack APK is it possible :-
1) to play multiplayer through local network(WIFI hotspot)?
2) login through Google I'd ?(so that I can add games and save it in Google I'd)

[2016-10-05 20:06] GnidGnaw commented on #16
@vagishjain
1. Yes it is possible for multiplayer parties through WIFI, but make sure that everyone in the party has the same base version and has the modpack.
2. I know for a fact that the 1.4.100 version of the game supports playlist sharing, so you can just make a playlist in 1.4.100 and share it. That way you have access to that playlist on other devices (doesn't even have to be linked)

[2016-10-06 12:45] vagishjain commented on #16
Thanxx for a quick reply. Any rough date when modpack will available for the android.

Sent from Yahoo Mail on Android

  On Thu, Oct 6, 2016 at 1:36 AM, ekfhnotifications@github.com wrote:
@vagishjain
1. Yes it is possible for multiplayer parties through WIFI, but make sure that everyone in the party has the same base version and has the modpack.
2. I know for a fact that the 1.4.100 version of t

[2016-11-06 12:12] TheMikirog commented on #16
[I released the version 2.2](https://bombsquadjoyride.blogspot.com/2016/10/new-version-22-netplay-update.html), but I want you to test out the 2.3 WIP before release. (link now removed)
Tell me your suggestions. There's no APK for WIP versions. Only Finals are compiled for Android.

[2017-01-01 18:26] TheMikirog commented on #5
SoK found this image.
![image](https://cloud.githubusercontent.com/assets/7281309/21582451/2323d96a-d058-11e6-8ae4-3f4b8d8f0240.png)
Is there a way to enchance the addon to toggle this feature on and off for character design? I don't want this feature enabled, but some people might like it.

[2017-01-04 13:20] Mrmaxmeier commented on #5
@TheMikirog I'm not sure what you mean. The screenshot looks like some 3D modeling software other than Blender (probably Maya?).

[2017-01-04 16:01] TheMikirog commented on #5
@Mrmaxmeier Yeah. It's Maya. What I understand here is that if you take one part of the character, edit it in some way, and you can preview the entire character using one button. That way I can edit multiple parts at once and see how it will look early on without making all the models at once and them exporting them, which basically means luck.

A quick preview of the character's all limbs put tog

[2017-02-12 11:39] NoobyArmor commented on #5
Hey please make a video on how to make maps and characters. i have blender and i already learn python

[2017-02-17 13:03] NoobyArmor opened #18 "Tell us something"
Can someone teach us how to make maps in Blender? i have blender but i cant make maps, can someone may a short videk o  how to import export and how to make coordinates, and also how to make a simple plane map......

[2017-02-19 06:08] jungleboywolf commented on #16
i Cant understand what to do I been tryna get mods for like 4 hours now...Plz help me

[2017-02-19 06:36] GnidGnaw commented on #16
@jungleboywolf just download the necessary files and throw them in your mod folder

[2017-02-19 06:48] nktnet commented on #16
@jungleboywolf if you're on android, use a computer or download a good file manager. Then download the auto reloader mod (Mod manager) and throw in in the Bombsquad folder. After that, go to settings on Bombsquad and you'll be able to find another menu tab called "Mod Manager" with a white heart icon. The rest should be self explanatory.

[2017-02-23 09:57] KishorJena opened #19 "Misuse of Join/leave in SuperSmash"
Please tell me how to prevent players from joining in middle of the super smash.
in private server players are misusing it. I tried to edit 'onplayerjoin' but didn't get perfect result.

[2017-02-25 11:21] #19 closed, assigned to nobody

[2017-02-25 11:36] KishorJena opened #20 "Game should end if opponent team is empty due to leaving the match"
When players leave match and no players are available in opponent team. game should be ended. But In super smash, game is not ending until time expires. Please fix this issue.

[2017-02-25 20:45] Mrmaxmeier commented on #20
I've fixed it in https://github.com/Mrmaxmeier/BombSquad-Community-Mod-Manager/commit/86072bfdadbd9205f897396825a8104fe2cbb630

[2017-02-25 20:45] #20 closed, assigned to nobody

[2017-03-13 15:32] KishorJena opened #22 "Issue In Arm Race"
Players bombing on their own team mates to upgrade bombs. It is like ffa. Please fix this.

[2017-03-13 20:22] #22 closed, assigned to nobody

[2017-03-16 21:24] KishorJena opened #23 "Suggestions / Request"
Can you please give me codes which will make the supersmash as dark and black & white map/texture.

[2017-03-19 16:31] Mrmaxmeier commented on #23
I'm not sure what you mean by 'the supersmash'.
If you want to edit BombSquad textures you can use a [plugin for GIMP](http://registry.gimp.org/node/70) that supports `.dds` files.

[2017-03-27 00:07] dreidrey commented on #23
Mrmaxmeier, is it possible to move or to overwrite other gamemodes achievement?

Like when i make an new gamemode and i endGame() it how can i make it achieve others achievements?

Also : where can i message you?

[2017-03-30 15:41] Mrmaxmeier commented on #23
@SeanAndreiDaGreat you could have a look at `bsAchievement.py` in the scripts folder of BombSquad for achievement-related code. This is not part of the official API but you might still be able to add new achievements.
If you want to contact me directly you can send an [email](mailto:Mrmaxmeier+gh@gmail.com).

[2017-05-06 08:38] xiaoyuan1018 commented on #16
payload_info  file        Can I generate it on Windows?

[2017-05-07 08:14] xiaoyuan1018 commented on #16
Android payload_info registration documents, I need it

[2017-05-07 09:39] Mrmaxmeier commented on #16
@xiaoyuan1018

The script works fine on Windows as long as you've got Python 3 installed.

[2017-05-07 11:34] xiaoyuan1018 commented on #16
My visit to this web link failure

[2017-05-07 11:40] xiaoyuan1018 commented on #16
@Mrmaxmeier  Thank you for your share!

[2017-05-08 09:39] xiaoyuan1018 commented on #16
ERROR: Unable to complete the install.
You may be out of space on your device.
Clear some space and try again.

[2017-05-10 02:25] Dev-Corgi opened #29 "Suggestions some mods!"
Hello guys ihave some idea of some mod but i'm really poor in python
So could you please read the follow games rule and if you think is fine, could you make it?

1.relay throw practice(not real name)

Rule
1.it's a coop game

2.players can't intrude during the game goes along

3.players will be spawned one-by-one like solo eliminate mod but there should be only one player on the map (if red is spa

[2017-05-10 02:27] Dev-Corgi commented on #29
Oh also theres one more candidate map in race throw practice that is doomshiroom (the spawn point will be middle of the map)

[2017-05-16 19:28] Avamander opened #30 "Server Mods"
Has anyone here worked on or could share their results on what neat modifications they have made to the server (administrative utilities, custom playlists, etc.)?

Another thing I have been thinking is that would it be possible to add a function to the mod manager to export the playlist in json so that it could be imported to the server?

[2017-05-17 07:57] xiaoyuan1018 commented on #30
分享自己的播放列表吗

[2017-05-17 09:20] Avamander commented on #30
The server requires the playlist ID or the json of the playlist if I understood your sentence correct with Google Translate.

[2017-05-20 09:47] Mrmaxmeier commented on #30
@Avamander I tried inserting a playlist by modifying the `config.json` but it looks like the server doesn't read the `"Free-for-All Playlist Selection"` property.
I haven't looked into other ways to manipulate the playlist because the official way using the `playlistCode` config setting works fine and is pretty convenient.

[2017-05-20 10:40] Avamander commented on #30
Have you in any case figured out how to list all players and then based on that kick or start votekick?

Also, how to get a playlist ID?

[2017-05-20 12:17] Mrmaxmeier commented on #30
You can get the playlist code by clicking share inside of the 'Customize Playlist' window.

I could try to build something on top of `bsInternal._getGameRoster` and `bsInternal._disconnectClient` similar to the in-game chat UI. It seems like the server code isn't really set up for interactions though.

[2017-05-20 12:28] Avamander commented on #30
In-game controls to manage the server would be nice indeed. Though doesn't the server execute some commands and wouldn't that give the ability to add some kind of interactions?

[2017-06-08 02:40] xiaoyuan1018 opened #32 "Model loading problem"
Is there a way to load a map model into the MODS directory?

[2017-06-08 02:40] xiaoyuan1018 commented on #32
And textures

[2017-06-08 10:46] Mrmaxmeier commented on #32
Unfortunately this is not possible because the engine will only ever search for textures and models in `data/textures` and `data/models`.

[2017-06-08 10:46] #32 closed, assigned to nobody

[2017-06-10 03:27] mubdiulhossain opened #33 "Kicking/Banning for server"
I am sorry may be this might not be the place to ask this... But there is not so many place to ask about bombsquad.
I run a dedicated server... And i want to ban some unwanted player from my server. If you can tell me how can i modify to stop them from entering, that would be very helpful. thanks

[2017-06-10 06:49] TheMikirog commented on #33
There's no banning system at the moment. Only vote kicking. I still tried to ask Eric if I can edit scripts to make a black list of accounts that can't join.

Mrmaxmeier's GitHub page is not the only place to ask about BombSquad though (it was when I tried to ask him for BOB export plugin for Blender), I have a [Discord channel for all JRMP fans](https://discord.gg/ZTdaASW) and you can also ask me

[2017-06-10 13:33] mubdiulhossain commented on #33
Thank you Michał for your words... I am not a very good programmer but i understand it... You guys improved bombsquad experience much better then ever,,, looking forward to have some more from you guys... Please let us know if you can black list players from server. thanks.  keep up the good work.

[2017-06-18 15:33] abhinaypandey02 opened #34 "Wanna Contribute!"
I also want to contribute to the modpack please help anyone!!!
I have made a cool mod!

[2017-06-18 16:04] abhinaypandey02 opened #35 "How to change .bob files"
I really feel like making new maps with blender or editing the previous but .bob file extension is a problem which software can access it please tell anyone!

[2017-06-19 12:59] TheMikirog commented on #34
This is not the place to do it. Send me an email (check my GitHub profile), show me your idea, give some screenshots, maybe gameplay, etc. Please remember I only accept quality mods that take EFFORT to create. Not random edits of existing mods. That's lazy. [Here's what I DO NOT accept for JRMP.](https://bombsquadjoyride.blogspot.com/2017/05/future-updates-might-get-worse-thanks.html) Use that as

[2017-06-19 13:01] TheMikirog commented on #35
If you took some time and actually explore this site for a little bit, you'll find BOB File Export addon for Blender made by Mrmaxmeier using the source code I delivered straight from Eric Froemling himself. It supports UV Meshes, automatic triangulation and Level Collider Meshes (.COB).

[2017-06-21 09:20] yash2879 commented on #35
where is the actual file download button

[2017-06-21 09:21] yash2879 commented on #5
but where is the bob export file and where can i download it

[2017-06-22 13:44] Mrmaxmeier commented on #35
[Here is a tiny tutorial on how to use the Blender plugin](https://github.com/Mrmaxmeier/BombSquad-Community-Mod-Manager/tree/master/utils/blender).

[2017-06-22 13:44] #35 closed, assigned to nobody

[2017-06-26 15:09] yash2879 commented on #5
How can i join tex and models together

[2017-06-26 15:11] yash2879 commented on #5
How can i join tex and models together

[2017-07-03 13:16] CerdoGordo opened #37 "Texture??"
hi, I want to create a map, but when im export, the map is Black!! That I have to do?? Tks, i wait answer!!

[2017-07-04 17:54] Mrmaxmeier commented on #37
Hey,

all of the models in BombSquad generally have a `.dds` texture file associated with them.
The `HockeyStadium` map for instance uses `hockeyStadiumInner.bob` and `hockeyStadiumOuter.bob` as models that both share the texture file `hockeyStadium.dds`.

This information is defined in the map definition; here is the relevant snippet taken from `bsMap.py`:
[code]
If the BombSquad engine fails to

[2017-07-04 17:54] #37 closed, assigned to nobody

[2017-07-04 17:56] Mrmaxmeier commented on #5
@yash2879 You need to associate the textures and models in the map definition like I've tried to explain here https://github.com/Mrmaxmeier/BombSquad-Community-Mod-Manager/issues/37#issuecomment-312926538

[2017-07-08 11:34] yash2879 commented on #16
I am a noob in this bit please can anyone explain me fuu step by step instructions

[2017-07-09 21:43] CerdoGordo commented on #16
I didn't understand, how can convert my modpack to apk?? I tried, but when the telephone installed for first time, will crash, really help!! 😣😥

[2017-07-10 03:18] yash2879 commented on #16
Me too please explain full steps 😭😭😭😭😭😭😭😭😭😑😑

On 10-Jul-2017 3:13 am, "CerdoGordo" <notifications@github.com> wrote:

[2017-07-10 06:53] TheMikirog commented on #16
@CerdoGordo @yash2879
To be honest, this is one of the hardest things you might learn when it comes to modding BombSquad. This stuff is so complex I finally got it after two weeks of trial and error. It involves installing Android SDK, rooting your device and setting it to USB Debugging Mode, constant builds of APKs that might take up to 20 minutes and then pray by connecting your device to PC and

[2017-07-10 11:30] xiaoyuan1018 commented on #16
@CerdoGordo @yash2879
In fact, it is very simple, and some need to study by themselves. Add the MD5 code of the new file to the payload_info file.. Add content format,. Self research
。，Translate to find Google

[2017-07-10 11:38] xiaoyuan1018 commented on #18
I released the video       [Learn for yourself](http://bs.aicony.top)

[2017-07-10 12:16] yash2879 commented on #16
Im a noob in this even i don't know playload file

On 10-Jul-2017 5:00 pm, "xiaoyuan1018" <notifications@github.com> wrote:

[2017-07-14 12:54] CerdoGordo commented on #16
What's the Eric email??

[2017-07-20 19:26] Froshlee14 commented on #34
Hi there, Im wanna contribute to the Mod manager with a tittle mod, but I dont know where send it!!
What should I do?

[2017-07-22 00:50] yash2879 commented on #16
https://youtu.be/VVUziD00yhQ

On 14-Jul-2017 6:24 pm, "CerdoGordo" <notifications@github.com> wrote:

[2017-07-22 00:50] yash2879 commented on #5
https://youtu.be/VVUziD00yhQ

On 04-Jul-2017 11:26 pm, "Mrmaxmeier" <notifications@github.com> wrote:

[2017-08-19 03:31] VVVID commented on #5
Hello Miki, I'm interested in making models, I wonder how did you make the textures of 9 body-parts into one texture file, could you please give me some advice?  @TheMikirog
![image](https://user-images.githubusercontent.com/21071569/29483089-d1cf2e32-84d1-11e7-9082-c8f1eeac51e3.png)

[2017-08-19 06:58] TheMikirog commented on #5
@VVVID There is some stuff you can try out for yourself.

**Technique 1.** Create your own plasticine clay models. Use a good camera to take a good front and back photos. Now you've got to put them in your texture file and adjust your UV mesh to them. If you use a soft light above your model in your photo texture, then you're guaranteed to create the best possible visual result. It does have some

[2017-08-20 02:41] yash2879 commented on #5
Thanks for the three methods u have given to is tjey were so helpfull and i
too want to contribute to joyride modpack
Thanks again.

On 19-Aug-2017 12:28 pm, "TheMikirog" <notifications@github.com> wrote:

[2017-08-22 07:27] VVVID commented on #5
Sorry for replying late @TheMikirog , thanks a lot for you advice, I decided to make maps first as it's easier to me. Anyway I'll try to accomplish the character model, thanks again.

P.S. I've found some files this link http://www.files.froemling.net/bombsquad/promo/game_media/characters/ , maybe they're useful for modders

[2017-08-22 14:34] Ertoni commented on #5
Hello guys i need a app for my emachines E725 32-bit dual core so can u help me to find a program to edit bombsquad characters!Maya don't work!

[2017-08-22 14:56] Redioni commented on #5
Hi gusy I need for e prgram that creats maps in bomb squad for android !

[2017-08-28 07:26] CerdoGordo opened #42 "payload_Info"
Hi, im Cerdo, and i have a BIG problem, when i create the payload_info (with a generator from here) the game give me memory full when i have enough memory, any help? Thanks waiting reply ;)

[2017-08-28 11:29] xiaoyuan1018 commented on #42
创建的payload_info   要进一步修改才可以使用   仔细查看符号

[2017-08-28 16:37] Mrmaxmeier commented on #5
@Ertoni @Redioni Have you tried [Blender](https://www.blender.org/) with the [BombSquad plugin](https://github.com/Mrmaxmeier/BombSquad-Community-Mod-Manager/tree/master/utils/blender)?

[2017-08-29 06:59] Redioni commented on #5
Not tryedSent from my Huawei Mobile-------- Original Message --------Subject: Re: [Mrmaxmeier/BombSquad-Community-Mod-Manager] Source code for .bob model format + character sharing suggestion (#5)From: Mrmaxmeier To: Mrmaxmeier/BombSquad-Community-Mod-Manager CC: Gaming Boss ,Mention @Ertoni @Redioni Have you tried Blender with the BombSquad plugin?

—You are receiving this because you were mentio

[2017-08-29 08:09] Ertoni commented on #5
I HV tried but it had virus
Blender.

Më 28/08/2017 18:37 , "Mrmaxmeier" <notifications@github.com> shkroi:

[2017-09-02 03:17] spdv123 commented on #33
Well, I've developed a mod to solve this problem. The idea of this mod is as follows:
1. Server installs a mod "Kick Server" listening on port 43211 (or any port free)
2. Client installs a mod "Kick Client"
3. When press "Vote to kick" button, the "Kick Client" mod sends a request including that player's account ID to server port 43211
4. "Kick Server" mod receives the account id and then kick the

[2017-09-02 06:52] TheMikirog commented on #33
@spdv123 Good that you at least try to improve some of the stuff, but this doesn't solve the problem.
If the players needs to be kicked because they ruin games, they wouldn't press Vote to Kick button at all.
Pressing the Vote to Kick button with this mod is basically saying "_Look! I'm naughty! Can you ban me!?"
It's stupid.

What we need is a visual Interface for dedicated servers that would kee

[2017-09-02 07:46] spdv123 commented on #33
@TheMikirog You may misunderstand my words, I changed the "Vote To Kick" button function to "Kick this player from my server", so this mod is only for the server admin.
However, your thoughts are really worth a try. I do not understand the UI modding too much currently. As a temporary solution, I desgined a website to ban a player FOREVER. The backend idea is simpler, it uses iptables to ensure th

[2017-09-10 07:20] bilal080 opened #44 "How To Make Maps N Apply In Bombsquad???"
Bro plz make a vid in utube how to make our own maps n apply in bombsquad game plzz

[2017-09-10 07:55] TheMikirog commented on #44
Let me get some things out of the way:
I'm not the creator of BombSquad Mod Manager. Unless you want to talk to me directly, then ok.

I purposefully avoided making any kind of tutorials on modding for several reasons. Most of the time I encounter people who want to jump into modding and when they finally get that power, I encounter a shit-ton of crappy maps with bad lighting, migraine inducing co

[2017-09-14 16:59] abhinaypandey02 commented on #42
3 things required to win payload_info

1. Make sure that it doesnt count itself. edit the payload after generation and remove its own name from the first line
2. replace all \ with /
3. replace \data and \pylib with data and pylib respectively

Hope it helps!

[2017-09-16 14:46] Ertoni commented on #5
[A Minimap Think Sketch Up.zip](https://github.com/Mrmaxmeier/BombSquad-Community-Mod-Manager/files/1308391/A.Minimap.Think.Sketch.Up.zip)

Hey i hv created this minimap with sketch up and u can convert because my blender need graphics so i cannot make any bomb manager but if is any other free option not blender reply me.

U can use minimap free but pls include my name...

[2017-09-17 08:50] Redioni commented on #5
hey Mrmaximer ai have a idea to create a charter with the name Rock

[2017-09-17 08:52] Redioni commented on #5
Ai can get a image for charters and can create a won  of ju
![rock](https://user-images.githubusercontent.com/31248679/30519472-1690405c-9b4c-11e7-9eb4-71c4c0dd135a.jpg)
![rock](https://user-images.githubusercontent.com/31248679/30519475-504bf0ac-9b4c-11e7-8626-b4276d09006b.jpg)

[2017-09-17 09:03] Redioni commented on #5
YOU CAN CREATE THIS BOYS
![rpx123](https://user-images.githubusercontent.com/31248679/30519483-9156268a-9b4c-11e7-9af3-695514b4122e.jpg)

[2017-09-17 11:33] Redioni commented on #5
Or  a adher

[2017-09-17 16:52] Redioni commented on #5
Can help me to do this map whait
si this map

[2017-09-17 17:13] Redioni commented on #5
Sorry is a problem

[2017-09-18 12:03] Redioni commented on #5
Hi is a won one AI need to converter my charter plz Mrmaximier ,TheMikirog,vvvid or Others

[2017-10-09 08:26] spdv123 commented on #32
Well, I've found a way to accomplish that, you can view [BombSquad-Map-Installer](https://github.com/spdv123/BombSquad-Map-Installer) for more details. @Mrmaxmeier @xiaoyuan1018

[2017-10-23 09:57] EG74 opened #46 "Cannot see mod manager"
Hello,
I have installed Mod Manager, but I can't see it in the settings.

[2017-10-31 19:52] bombsquader commented on #10
My mods wont work i have bombsquad version 1.8.126

[2017-10-31 19:56] bombsquader opened #47 "Bomb squad Manager"
I have bombsquad version 1.4.126, I put Installer.py in the bombsquad folder and when i reopened bombsquad it flashes a couple words at the bottom, but the mods manager is not in the settings. What do i do?

[2017-10-31 19:57] bombsquader commented on #47
@Mrmaxmeier

[2017-11-01 00:04] Mrmaxmeier commented on #47
Version 1.4.126 on Android behaves strangely...
I've pushed an update that should fix the problem. Try reinstalling the mod manager.

[2017-11-01 16:35] bombsquader commented on #47
@Mrmaxmeier thank you ill try it.

[2017-11-01 20:58] bombsquader commented on #47
it worked thanks for your insight!

[2017-11-04 20:44] #47 closed, assigned to nobody

[2017-11-04 20:45] Mrmaxmeier commented on #46
This might be related to #47.

[2017-11-08 14:25] shonil24 commented on #33
@spdv123 can you share your website link.And is it possible to kick the player from server wihtout kick voting?

[2017-11-19 05:50] Feetly commented on #33
@spdv123 can u share yr mod link plz?

[2017-11-21 12:27] Feetly opened #48 "Batch convert dds to ktx and vice versa"
Is there any method to batchly convert all the ktx files to a dds files format in just one click.?
Similarly, Is there any method to batchly convert all the dds files to a ktx files format in just one click.?
And in conversation there should be no loss of clarity and alpha channels.
Any way plz help?

[2017-11-21 12:31] Feetly opened #49 "Compressing Modpack to less than 50 mb"
I created a modpack merging all maps, characters, symbols, powerups, and etc all thing from jrmp, bombdash, aymp, smp , bombmix, emp, and normal bombsquad features in a single modpack apk FDMP.
But than the size of file is 500mb. How to reduce than to as much as possible. How to reduce the size of apk? Any help plz?

[2017-11-21 12:36] Feetly opened #50 "Insufficient storage issue"
After creating modpack payload using yr payload generator. And when payload was created i deleted the payload line in payload_info file from it. And than installed my apk. But it shows storage insufficient but i have more than 1gb space available. How to fix than thing? And file making a modpack, in scripts folder is py and pyc files both necessary or we can play only py file, and app wil automati

[2017-11-21 16:57] TheMikirog commented on #49
I swear to GOD! **You're not going to pack JRMP into other modpacks and claim it as your own!** Not a chance! I refuse.
[Read on the issue here:](https://bombsquadjoyride.blogspot.com/2016/09/brazil-stole-our-work.html)

As with the size, there's no compromise. You can only decrease audio quality and resolution size to fit in. The question is, would you really want to?

[2017-11-22 13:07] Feetly commented on #49
Mikirog dont worry. I will show my modpack to all owners of other modpacks and introduce their credits in game . And than take permission from them and than release the modpack world wide. But this modpack is goona be like epic. It has all features of jrmp, bombdash, aymp, smp, emp, fdmp, and etc all others.

[2017-11-22 15:08] TheMikirog commented on #49
@Feetly I don't care if you credit me or not. This is still stealing... **without permission! And I won't grant it.**
Show it for your friends, but don't publish it! Even if you copy BombDash, I'll make sure they know about what you did!

JRMP is good as a complete package, so don't contaminate it with other modpacks, please. I have my Discord server and as you saw with [one of my videos (probably

[2017-11-24 22:06] 7bbbbbbb commented on #5
hello
please tell me how to install the addon .bob to blender
after select the archive to install this addon don't appear in the list of addons

my mistake was i download the .py file, i copied from the web and paste in the .py file and it's works correctly

[2017-11-25 20:15] 7bbbbbbb commented on #5
hello again
i'm working in a bombsquad mod but i need know how to load and save textures from .bob files with blender
please help me
![5](https://user-images.githubusercontent.com/33968749/33234346-c84939f8-d1fb-11e7-81df-5e2bb515b604.png)
this is a screenshot of my proyect

[2017-11-26 03:55] yash2879 commented on #5
Search blender uv textures it will help you to assign textures to you models

On 26-Nov-2017 1:45 am, "7bbbbbb" <notifications@github.com> wrote:

hello again
i'm working in a bombsquad mod but i need know how to load and save
textures from .bob files with blender
please help me
[image: 5]
<https://user-images.githubusercontent.com/33968749/33234346-c84939f8-d1fb-11e7-81df-5e2bb515b604.png>
this i

[2017-11-28 17:52] Avamander commented on #5
@yash2879  Try to avoid sending the previous message along with your own when replying to GitHub's emails, you currently even sent your private unsubscribe link with the email.

[2017-12-19 01:17] Froshlee14 commented on #49
Hey Feetly, that's no correct without permission

[2017-12-19 01:19] Froshlee14 commented on #42
thanks!

[2017-12-19 17:16] oore282 commented on #16
can someone advise me how to convert my modpack to apk

[2017-12-23 14:55] shekeling commented on #33
@spdv123 Could you send your kick mod please?

[2017-12-26 08:59] shekeling commented on #33
Anyone has a mod to find out list of ips per player on the server?

[2018-01-08 09:03] shekeling commented on #30
any news here? :)

[2018-01-24 07:51] DIHDBSIS commented on #33
If someone server says that he will block me in 24 hrs. Might i trust him or not?

[2018-02-25 11:10] KilleRBeaN2002 opened #52 "Hello Modderz .I need one help"
How to add Auto night mode..
It become night Mod..for a while then return back to normal ...like Bs.gametimer etc
I want code to That auto night mode Please would u help Me

[2018-03-26 15:12] abhinaypandey02 commented on #50
You Cheater!!!! You stole the work of BombDash and JRMP and you are expecting to get help!?! You deserve no help!

[2018-03-26 15:14] abhinaypandey02 commented on #49
I AM DAMN SURE NO CREATOR IS GOING TO GIVE ****ING PEOPLE LIKE YOU PERMISSION TO USE THEIR WORK! NEITHER JRMP NOR BOMBDASH!

[2018-03-26 15:28] TheMikirog commented on #50
@abhinaypandey02 Look at the date. That issue was already fixed, he apologized and you decided to beat the guy even more. Thanks for standing up, but you went a bit too far.
You know what a dead horse needs? More bruises!
Pathetic.

[2018-03-27 18:50] Froshlee14 commented on #49
Achu?

[2018-06-25 09:28] minanagehsalalma opened #58 "how can i unlock the customize teams playlist !!!!!"
is there any free way pls ...

[2018-06-27 06:52] #58 closed, assigned to nobody

[2018-09-28 01:27] I-Am-The-Great commented on #16
can someone explain to me how to convert my modpack to apk, or show any video on it, please

[2018-10-08 15:44] I-Am-The-Great commented on #16
@TheMikirog or @Mrmaxmeier can you please guide me how to get all the files in modpack which i put in scripts folder. I add the files necessary but it don't get installed, what to do and how to use bsGenPayloadInfo.py .

[2018-10-10 00:39] rahulraman0108 commented on #16
Thanks, I used it and it worked.

[2018-10-12 01:44] rahulraman0108 opened #60 "How to export material and textures from blender"

[2018-10-12 01:45] rahulraman0108 commented on #60
please say how can i export materials and textures of models made in blender as images to create character textures.

[2018-11-02 22:40] Mrmaxmeier opened #61 "Migrate from rawgit.com"
~ https://rawgit.com/

We initially switched from `raw.githubusercontent.com` to `rawgit.com` due to python2-related certificate problems. These might have been fixed in the mean time.

https://github.com/Mrmaxmeier/BombSquad-Community-Mod-Manager/blob/3672c8fdd3a6a26aa7321e264f33a9e9a83232e8/mods/modManager.py#L71-L75

[2018-11-04 02:47] MattZ45986 commented on #60
In Blender you should make the character and UV map the image you want on to the character model pieces.  The model in-game will use the texture to create a character.  Essentially, create a texture image that includes all of the different angles needed for coloring the character.  Then, export the 3D models with the UV map data and texture to put it in the 'models' and 'textures' folders in the m

[2018-11-04 02:51] #46 closed, assigned to nobody

[2018-11-06 01:18] rahulraman0108 commented on #60
I made a wolverine character, I posted its video on youtube here is [video link](https://www.youtube.com/watch?v=U0wiV9qUI08&t=4s ).

[2018-11-06 02:24] MattZ45986 commented on #60
That's pretty cool, I guess you figured it out then.  Let me know if you need any more help.

[2018-11-06 02:24] #60 closed, assigned to nobody

[2018-11-19 03:51] ghost opened #62 "How to apply minigames?"
I don't know how to actually apply mods. I have enabled modding, & copied installer.py. it works perfectly fine, but when I install a mod (the one I tried was Super Smash) and quit & open, nothing happened except it saying that it was downloaded. I'm trying this on a windows 10 laptop that is pretty decent.

[2018-11-22 15:00] MattZ45986 commented on #62
When you click the initial 'play' button, you should be on the screen that gives you the option 'Free-for-all,' 'Teams,' or 'Co-op.' If the mod-manager is downloaded and installed properly then there should be a button in the top-right that says 'custom...' which is the button you want to click.  Then it opens up the menu with all of the included mods and any you have already.  Let me know if you

[2019-01-09 13:41] rahulraman0108 commented on #62
But the custom button appears after you download and install the quickGameButton.py. So @switch64 in Mod Manager window click on the 'Quick-Game Button' mod then download that mod and restart the BombSquad game. Am I wrong @MattZ45986 ?

[2019-01-10 03:33] MattZ45986 commented on #62
You are correct--that would work if he doesn't already have it.  However, if @switch64 is not able to access the mods anywhere after visibly installing them, the button alone will not solve his problem.  If he has any further difficulty, he will let us know.

[2019-01-10 03:36] #52 closed, assigned to nobody

[2019-01-10 09:59] rahulraman0108 commented on #62
Hmm, yeah I not thought that.

[2019-01-14 13:56] sudo-logic commented on #33
This is how I made the kick and ban system.
My server has chat commands through which '/ban' + player name can be used to ban and '/kick/ can be used to kick other players.
And the new get_account_id feature helps ban all the linked accounts of the player at once.

The iptables method worked fine but had its own limitations, like the player could simply change his Google Play ID Android get away w

[2019-01-14 14:01] Awesome-Logic commented on #30
Well, I use chat commands.
chat commands work great for these kind of server managements.
I have made commands for kick/ban/reboot/change-playlist etc.

[2019-01-14 14:02] sudo-logic commented on #33
Admin management system helps manage all moderators from the server itself.😁
Pretty helpful stuff.

[2019-01-14 14:04] DIHDBSIS commented on #33
Help me plz i want to become a admin at my own server plz give me script
that contains zero error in it😢

On Mon, 14 Jan 2019, 7:26 p.m. Awesome-Logic, <notifications@github.com>
wrote:

[2019-01-14 14:05] DIHDBSIS commented on #33
How this works plz tell me

On Mon, 14 Jan 2019, 7:32 p.m. Awesome-Logic, <notifications@github.com>
wrote:

[2019-01-14 14:08] sudo-logic commented on #52
Lol my server has had this since 1 year

[2019-01-14 14:35] I-Am-The-Great commented on #58
Hey, @minanagehsalalma you can try my short script for it download that from [here](https://thegreat.ml/files/pro_pack_unlocker.py).

![vide proof](https://www.youtube.com/watch/?v=EigHEaFQFSo)

[2019-01-14 22:57] MattZ45986 commented on #58
@I-Am-The-Great, while it is great that you were able to help there, giving away free passes for paid content is not what this repository was made for.  Mr. Froemling makes money from the game, and what just took place is essentially keeping him from a purchase.  If you are able to unlock it for yourself, that is your decision, but I would not give away that script (even if people want it).  If ev

[2019-01-14 23:37] rahulraman0108 commented on #58
Sorry, now I will never try to do like it ever in any game. I removed that from my website also

[2019-01-15 01:47] MattZ45986 commented on #58
Thank you.  Many times the implications are not obvious, but I truly appreciate the readiness to accept them.  I don't doubt that you had pure intentions.

[2019-01-15 02:21] rahulraman0108 opened #64 "How to update my fork?"
![image](https://user-images.githubusercontent.com/42905362/51154531-1356da00-189a-11e9-8790-a4a3afabf898.png)

Uhm my commits were merged to the base repository, but now I receive the message that my fork is 1 commit behind the base repository, how do I update that?

[2019-01-15 02:23] rahulraman0108 commented on #64
Should I delete and create the fork again?

[2019-01-18 01:14] #64 closed, assigned to nobody

[2019-02-02 16:00] Gengar-lab opened #65 "Please"
@Mrmaxmeier Please close unwanted issues that others created.

[2019-02-05 02:18] MattZ45986 commented on #65
@Benefit-Zebra, I hope you'll understand that the Issues page is a sort of FAQ for users who want to  find an answer to their questions.  Personally, I know it has helped me very much.  The purpose of leaving issues open is to 1) spark helpful answers to maybe ongoing issues and 2) expose others to important pieces of information concerning the repository and essentially the whole process of moddi

[2019-02-05 02:18] #65 closed, assigned to nobody

[2019-02-17 00:20] VinMannie opened #67 "Has anyone figured out how to enable full 3D movement while flying?"
I'm trying to make a flying Death Match-like mod, however I can't find anywhere how to enable movements other than left/right (used by Happy Thoughts). I'm using the "enableFly=true" method.

If anyone knows what I need to do to enable 360 degree movement please let me know!

[2019-02-17 01:51] rahulraman0108 commented on #67
Well, after reading, I tried to make a way for 360 degree movement in air, I did, you can freely fly in air by pressing the jump button, but it yet have problem that you can not punch, grab, or use bomb in air, I yet working in fixing those.
Do you want to see a video recording?

[2019-02-17 01:52] rahulraman0108 commented on #67
Also, you can not change the direction of movement in air, for that you have to land on map then take off again.

[2019-02-17 02:03] rahulraman0108 commented on #67
Hey, yeah I found the solution of the first problem to a bit, now you can punch, bomb or pickup while in air but not if you have pressed jump very recently, I mean that if you are pressing the jump/fly continuously then in between you press any other button, then those will not work, but if you have pressed now the jump/fly button, then after leaving a gap of 0.1 second of time press any other but

[2019-02-17 03:18] VinMannie commented on #67
can you send video footage and/or code in the .py script?

[2019-02-17 03:47] rahulraman0108 commented on #67
Here, or personally mail you?

[2019-02-17 04:09] VinMannie commented on #67
here i guess

[2019-02-17 04:10] rahulraman0108 commented on #67
k, wait, starting video upload.

[2019-02-17 04:56] rahulraman0108 commented on #67
Here, I have written some python code, add these lines after 2 lines after importing all necessary modules:
[code]

Add this def with this code in your game's class in the script:
[code]
This is necessary for overriding the default jump press call and do not add enableFly=True that will stop this code from working because it is jump call.

[Video link here](http://www.mediafire.com/file/qaobo60w57

[2019-02-17 07:51] TheMikirog commented on #67
The point is, the original _enableFly_ method restricts you in two axis by default, probably to make gameplay easier and more intuitive.

Not only it's difficult to fly in 3D space, but BombSquad has some issues with depth perception, since it doesn't use real lighting. You could hold the analog down and fly, but the game would not lift you up, but push you in the direction in midair. That's at le

[2019-02-17 09:09] rahulraman0108 commented on #67
Hey, @TheMikirog thank you for your review, it inspired me to change the code and try again, now, in the code, whenever someone press jump he is yet pussed up to maintain them in mid-air, but this time the movement of spaz do not depend on the velocity before take off, it depends on the direction the controller is giving, that means you will be pushed upwards, for not falling and also in the direc

[2019-02-17 09:18] TheMikirog commented on #67
@I-Am-The-Great
What you said is possibly the best thing you could do in this situation.
However almost any map in the game wouldn't benefit with you having the ability to fly.
Most of them are either flat or have one more floor.
I'd treat this code more as an experiment/novelty and less like something worthwhile to play.

[2019-02-17 09:49] rahulraman0108 commented on #67
So, @VinMannie and @TheMikirog I present you the code for BS 3D flying spaz version 2 below:
[code]

And a video for it could be found [here](https://www.mediafire.com/file/8oyoq9scjo122no/BS_3d_flying_spaz_v2.mp4/file ).

[2019-02-22 01:21] rahulraman0108 opened #68 "I am going to share this repository's mods from my repository"
Respected sirs,
I am creating a BombSquad dedicated server and in that, I will use this repository's mods, but I will also make a github repository to share my server's files so, the repository will also include the mods taken from here. As this repository has `The Unlicense` license, I think that it will not be any illegal or wrong work to add mods from this repository to my repository, but yet I

[2019-02-23 12:26] Mrmaxmeier commented on #68
Yup. Feel free to copy the mods over to your repo.
If you want you, can also link back to this repository somewhere in your project (:

[2019-02-23 12:26] #68 closed, assigned to nobody

[2019-02-24 06:29] rahulraman0108 commented on #68
Okay, thank you.

[2019-03-07 08:31] Gengar-lab opened #69 "Add new bombs to Bombsquad"
Like snowypowerup.py, can anyone tell how to add new bombs to bombsquad without changing internal scripts as snowypowerup added powerups.

Please also make a new bomb and show.

[2019-03-07 14:37] rahulraman0108 commented on #69
Well, @Benefit-Zebra thank you for this idea, I think this idea is very good, and I will start to work on this idea when I get time because currently, I am a little bit busy in my school exams. I promise that I will notify you ASAP after I come to the result of my work on this idea.

[2019-03-07 14:53] rahulraman0108 commented on #69
@Benefit-Zebra, what type of bomb should I make?

[2019-03-07 16:18] Gengar-lab commented on #69
@I-Am-The-Great My friend suggested this idea of what bomb to make:

Please make a bomb which when thrown, goes up slowly and search for player of opposite team or any other player in FFA. And when bomb finds a player , it will stay in  touch with player(not stick to the player ; like the bomb will surround his body).

The bomb will have much longer fuse time and can get blast on punching or blast

[2019-03-08 00:43] rahulraman0108 commented on #69
Okay @Benefit-Zebra, I will start the work tonight at 7:30 PM according to GMT+5:30 and try to finish it ASAP, first I will make a new normal impact bomb which on exploding gives out 1-3 random powerups to see if it works then I will start to make the bomb as you have stated, and due to my exams you may need to wait for 2 to 4 days, so please be patient.

[2019-03-08 01:41] Gengar-lab commented on #69
@I-Am-The-Great

I know of exams as I also stay in same country.I will be patient. Please inform me when you finish it.

Thanks for making bomb which my friend suggested.

[2019-03-08 01:42] rahulraman0108 commented on #69
Oh, I did not know that, bye, exam's time now.
And welcome.

[2019-03-08 15:17] rahulraman0108 commented on #69
@Benefit-Zebra, I made a test bomb as I stated just now, and it worked, now I will start making a bomb from your idea, it may take some time so please try to be patient.
Do you want some photos and the code file?

[2019-03-08 15:59] Gengar-lab commented on #69
@I-Am-The-Great

I will be patient as your exams are going on.

Yess I would like to see photos and want code file to test it.

Please inform me when making of bomb will be finished.

I also wanted to know that where is "Meteoroid Rampage Special" Map is located in OSMP Modpack code file scripts.

[2019-03-09 01:31] rahulraman0108 commented on #69
@Benefit-Zebra, I will include the link of the video and files of the test impact bomb I made in this comment when it gets uploaded on MediaFire, I will inform you ASAP after the work of making the bomb of your idea is completed, and the code for that map in OSMP is in MsV6.py file.

And thank you because your question reminded me to make OSMP1.2, I just forgot of it.

And a short note of OSMP:

[2019-03-09 17:35] Gengar-lab commented on #69
@I-Am-The-Great

All the best for your upcoming exams.

[2019-03-10 01:07] rahulraman0108 commented on #69
@Benefit-Zebra, I have completed more than half of the work of the video, now I need to test the code and then only I can proceed, but I can not test that in one player and I do not have a controller or any other device to play BombSquad, what do I do, any idea?

[2019-03-10 01:58] rahulraman0108 commented on #69
@Benefit-Zebra I have an idea, I host a server and in I that put the files, then when you get ready I send you the IP and port and we both test. Comment here or mail me when you get ready.

[2019-03-10 03:02] Gengar-lab commented on #69
@I-Am-The-Great

Today I am busy with function whole day.

Tomorrow I can only be online at night when my father comes home (around 9:45 pm.)

I have idea , first go in Setting > Advanced >Benchmark and Stress-Test and then click on Run stress test.Automatically some players as test inputs will get connected.And then try bomb on them.
OR
Try the bombs on bots in custom mods in which enemies come.

[2019-03-10 03:08] rahulraman0108 commented on #69
Well, okay I will do that, thanks for this.

[2019-03-10 03:11] Benefit-Zebra commented on #69
@I-Am-The-Great

Relative's Marriage

Please inform so I delete this comment as you read it.

[2019-03-10 03:16] I-Am-The-Great commented on #69
@Benefit-Zebra I have read

[2019-03-10 07:16] rahulraman0108 commented on #69
@Benefit-Zebra I made the bomb, now making its video then I will post the video on youtube and share the link here.
Features of the bomb are:
1. Automatically aims to an opponent (only opponent no teammate)
2. Blasts on being punched
3. Blasts if touches another bomb of another kind, not its same bomb type.
4. Longer fuse time: 13 seconds
5. Roam over the head of the target, and not stick to it an

[2019-03-10 17:50] Gengar-lab commented on #69
@I-Am-The-Great

Thx it is working.
I have problem:

Why chatCmd.py or chat commands can only work on servers?

Why don't it work when playing via Wifi with friends?

[2019-03-11 00:44] rahulraman0108 commented on #69
@Benefit-Zebra, chatCmd.py also works locally, but for working it requires some edits in bsGame.py.

[2019-03-11 08:37] Benefit-Zebra commented on #69
@I-Am-The-Great

Which are those edits?

[2019-03-12 16:56] Gengar-lab commented on #69
@I-Am-The-Great

How is this idea for making mod:

It will be "SnowStorm.py"

In this mod snowballs are dropen from above.Sometimes Ice cubes will be fallen , if ice cubes get hit to player , the player will freeze.

And create some safe zone were snowballs abd ice cubes will not drop and the safe zones will always change its position randomly.

----------------------------------------------------

[2019-03-12 16:56] Gengar-lab commented on #69
@I-Am-The-Great

How is this idea for making mod:

It will be "SnowStorm.py"

In this mod snowballs are dropen from above.Sometimes Ice cubes will be fallen , if ice cubes get hit to player , the player will freeze.

And create some safe zone were snowballs abd ice cubes will not drop and the safe zones will always change its position randomly.

----------------------------------------------------

[2019-03-12 23:12] rahulraman0108 commented on #69
Hi @Benefit-Zebra,
Sorry for this late reply, and the above idea is also good, I try to work on that idea as soon as possible.
And the following are the required edits in bsGame.py:
[code]
add this line in `def begin` in `class Activity`
[code]
and add this def in `clas Activity`

[2019-03-13 15:17] Gengar-lab commented on #69
@I-Am-The-Great

After doing edits , it is still not working.

[2019-03-13 23:15] rahulraman0108 commented on #69
Well, that is not expected, I have also tried the same thing on my device and it had worked. Check again for any error in your script.
And, tomorrow is my last exam after that I will start making that mod.

[2019-03-14 00:41] Benefit-Zebra commented on #69
This is my game.py script

import bs
import bsInternal
from bsVector import Vector
import weakref
import random
import bsUtils
import time
import bsGame
from bsGame import Team, OutOfBoundsMessage, DieMessage, StandMessage, PickUpMessage, DropMessage, PickedUpMessage,\
    DroppedMessage, ShouldShatterMessage, ImpactDamageMessage, FreezeMessage, ThawMessage, HitMessage,\
    Actor, NodeActor, Sess

[2019-03-14 02:59] rahulraman0108 commented on #69
@Benefit-Zebra, why deleted a comment?

[2019-03-14 09:28] Gengar-lab commented on #69
@I-Am-The-Great

I will whatsapp you files so that comment is not so big , so I deleted that comment as it was containing text of bsGame.py

[2019-03-19 08:02] Gengar-lab commented on #69
@I-Am-The-Great

What about this idea of powerup:

- Tornado Powerup

On taking this powerup , A tornado of bombs will be spawn which will move randomly . On touching tornado , we will go inside it and we will go up.

[2019-03-19 14:32] rahulraman0108 commented on #69
@Benefit-Zebra, this also is a good idea, I will start working on it from tomorrow and I am working on the snowStorm.py it is nearly finished just some testing and fixing required. And this idea is a little bit hard but possible, so it may take more time than usual for me to make this one, but I will make it, the only problem is that my `janau sanskar` is planned and because of that I will not hav

[2019-03-19 16:39] paolovalerdi commented on #69
Can you share the files pls?

[2019-03-19 16:43] rahulraman0108 commented on #69
Uhm, which files are you asking?

[2019-03-19 16:44] Gengar-lab commented on #69
@I-Am-The-Great

Ok I will wait.

You can edit .py files on android also.

[2019-03-19 16:45] paolovalerdi commented on #69
The modded files and the needed for this mod to work

[2019-03-19 16:45] rahulraman0108 commented on #69
@paolovalerdi tornado powerup or other mod?

[2019-03-19 16:46] rahulraman0108 commented on #69
@Benefit-Zebra, I know I can edit the files also on android but that's very uncomfortable and has many problems.

[2019-03-19 16:48] Gengar-lab commented on #69
@I-Am-The-Great

Ohhh Ok.

[2019-03-19 16:48] paolovalerdi commented on #69
The one that follows that player and so, the first one you made

[2019-03-19 16:53] rahulraman0108 commented on #69
Well, that mod is present only on my github repo [download its zip](https://github.com/I-Am-The-Great/BS-mods/archive/master.zip ), it will also download all requirements.
I also have its youtube video [here](https://www.youtube.com/watch?v=klmT8M73Eww).

[2019-03-21 09:07] Gengar-lab commented on #69
@I-Am-The-Great

How about this powerup;

Name : Destiny bond

Ability : The player (who took the powerup) and then died.This powerup will curse the last player/bot who touched the player.

Special : 1) It will stay activated until player dies.

2) If Player dies (on his own,after taking powerup) and no one has touched him , Any one player (Of opposite team , or anyone in FFA) will get curse.

[2019-03-21 10:36] rahulraman0108 commented on #69
Awesome idea, I will not limit it to 2 players though, it will be a chain reaction and maximum affected players will be 15 and as the players count increases the death time will also increase, it will create some randomness in players and good competition to get who is gonna die next.

[2019-03-22 08:17] Gengar-lab commented on #69
@I-Am-The-Great

How is this idea of this new Minigame:

Name : Magical ball fight.

Description:

1. Press the bomb button to summon the magic ball, form a magic array in your position and make a casting action (if you can match the wand, with grumbledorf's staff which is at his back).

2. Press the four directions (or the joystick) to control the magic ball to move in the plane, press the "lift"

[2019-03-22 09:16] rahulraman0108 commented on #69
:joy: how you get these much cool ideas, this is also a good idea but the hard part for me is in the movement controls of the magical ball, however it is possible as I think, and so I will try and make this minigame and then send you the 4 mods at once after my janau, okay?

[2019-03-22 09:38] Gengar-lab commented on #69
@I-Am-The-Great

Ok

[2019-03-22 10:24] rahulraman0108 commented on #69
Also, what does `dissipate` mean?

[2019-03-22 10:42] Gengar-lab commented on #69
@I-Am-The-Great

It means to disappear

[2019-03-22 10:44] rahulraman0108 commented on #69
Ooh, I think this issue is getting too much big, now you should make a new issue for any new comment you do for a new idea. And I got access to take the laptop with me in my `janau` :tada: now smartphone will be with my father. But I would be a bit busy in my `janau` too.

[2019-03-22 14:20] Gengar-lab commented on #69
@I-Am-The-Great

Ohh its a good news🎉.

I think this comment will not go further as for now I have my ideas exhausted.

With your last comment, I will close the comment.

If I have more ideas in future, Please suggest me the title of new issue to create.

[2019-03-22 14:25] rahulraman0108 commented on #69
If have any new ideas then open an issue in this repository with the title as `New BS' mod's ideas`.

[2019-03-22 14:31] #69 closed, assigned to nobody

[2019-07-25 18:37] Amirihm commented on #18
I cannot download the mods. When i go to download the page keep loading! Please help

[2019-08-17 14:18] Teals53 opened #71 "how i can use this mod games in server ?"

[2019-08-17 15:40] rahulraman0108 commented on #71
@Teals53
_**You should have added a correct description to your issue though this issue's title may explain what you mean to say but it is better to have a short title with a good description of the issue.**_
And to the answer of your question:
1. You need to download the game's script and put it in mods folder on both:
    1) the device on which you make and export playlist, and,
    2) the serve

[2019-08-17 15:42] Teals53 commented on #71
i already do this but its not work im using server files for windows not for local one .d

[2019-08-17 15:46] rahulraman0108 commented on #71
Uhm, can you please explain which part is not working. And what do you mean by server files for local one?

[2019-08-17 16:23] Teals53 commented on #71
![image](https://user-images.githubusercontent.com/13446881/63214715-8708e000-c124-11e9-921a-ae0cba30f76f.png)
i open server there

[2019-08-17 16:24] Teals53 commented on #71
my mods are ready
![image](https://user-images.githubusercontent.com/13446881/63214721-99831980-c124-11e9-82b6-358cb8720ecf.png)

[2019-08-17 16:24] Teals53 commented on #71
and my custom playlist ready too
![image](https://user-images.githubusercontent.com/13446881/63214725-a4d64500-c124-11e9-807b-17bd6801da05.png)

[2019-08-17 16:25] Teals53 commented on #71
then i share this and put code there
![image](https://user-images.githubusercontent.com/13446881/63214729-bae40580-c124-11e9-804b-364efb922c7b.png)

[2019-08-17 16:25] Teals53 commented on #71
and i open server and join but still just play offical games not mods games

[2019-08-17 16:28] Teals53 commented on #71
i can play my custom playlist but server cant play mods games idk why and i want help about that

thx

[2019-08-18 14:19] rahulraman0108 commented on #71
@Teals53 have you added the games mods to `<server files location>\data\scripts\` folder?

[2019-08-18 16:05] Teals53 commented on #71
oh yeah u r right i forgot that thx dude

[2019-08-19 07:35] rahulraman0108 commented on #71
It's good that you found the solution of your issue at last, now you should close this issue, and remember to put a short title with a good description in your new issues.

[2019-08-19 09:33] Teals53 commented on #71
kk dude thx for help cy@

[2019-08-19 09:33] #71 closed, assigned to nobody

[2019-08-23 14:52] Teals53 opened #72 "ALL GAMES ARE BROKEN AND CRASH SERVER"
My server gonna crash sometimes after tell that but why anybody can help me ?

![image](https://user-images.githubusercontent.com/13446881/63601731-ac876500-c5ce-11e9-9b8e-2fd723cadb81.png)

and why some minigames are bugged its spam erros on console so i need remove that but why

[2019-08-23 16:19] rahulraman0108 commented on #72
@Teals53 For proper and complete information, I request you a full screen screenshot of the terminal.

[2019-08-23 16:57] Teals53 commented on #72
![image](https://user-images.githubusercontent.com/13446881/63609616-1a885800-c5e0-11e9-9082-d24b28c6fd38.png)
![image](https://user-images.githubusercontent.com/13446881/63609650-296f0a80-c5e0-11e9-93d1-9905fd354c18.png)

this screenshots for second issues

[2019-08-23 16:57] Teals53 commented on #72
%70 mrmaxmeier minigames say error like this

[2019-08-23 16:58] Teals53 commented on #72
for first issue its not have any special things server gonna restart after thread error

[2019-08-23 23:45] rahulraman0108 commented on #72
In both of these errors the cause is an invalid node or player, which I can not say correctly how to solve.

[2019-08-24 10:22] Teals53 commented on #72
so many mini-game corrupted

[2019-08-24 11:55] bseditor opened #73 "problems regarding smash.py"
after checking many smash.py files i concluded that there is no total balance lives system and why the smash.py is stucked sometimes restricting players to join when all the players left or one team left completely as a result,smash.py won't end or did'nt show the winner team.

if someone can solve the mentioned issues then it would be a great help!

[2019-08-24 16:35] Teals53 commented on #72
i fix a lot of things but still some files have some problems and do spam

[2019-08-24 18:45] Teals53 commented on #72
Basketball FlagDay PuckDeathmatch SimonSay İceDeathmatch

[2019-08-24 18:45] Teals53 commented on #72
this games have problems

[2019-08-24 18:46] Teals53 commented on #72
![image](https://user-images.githubusercontent.com/13446881/63641515-98b82d80-c6b8-11e9-8008-bbaeecbb94d2.png)
and tons of games just give random errors

[2019-08-24 18:47] Teals53 commented on #72
also snowpowerup always spam something
![image](https://user-images.githubusercontent.com/13446881/63641534-c309eb00-c6b8-11e9-8036-eb0648cc375e.png)
portal too

![image](https://user-images.githubusercontent.com/13446881/63641546-e3d24080-c6b8-11e9-9769-34cc8160c1e9.png)

[2019-08-24 18:54] Teals53 commented on #72
maybe every minigames are shit and need update so i not need report that

![image](https://user-images.githubusercontent.com/13446881/63641611-ca7dc400-c6b9-11e9-850a-5e7c8146d788.png)

[2019-09-13 14:36] Leonkoithara opened #76 "bob_plugin.py doesn't work in blender 2.8"
It seems that they have made a lot of changes to the blender api in 2.8 e.g register_module(__name__) no longer works

[2019-10-13 13:29] TheMikirog commented on #73
Players could join mid-game, but I fixed that.

However it's up to @Mrmaxmeier to merge stuff, but as he's a one-man-army and he won't get another person to oversee the project, updates won't happen often.

Check the recent pull requests to get updated code for certain mods.

[2019-10-19 17:37] Gengar-lab commented on #29
@hello-kr Good Idea

[2020-01-30 14:41] sduerpang opened #79 "Does there anyone know how we generate node types we want?"
For example, here is some code from bsSpaz.py
`if self.shield is None:
            self.shield = bs.newNode('shield', owner=self.node,
                                     attrs={'color':(0.3, 0.2, 2.0),
                                            'radius':1.3})`
it generate a shield type Node and assign its color and radius attributes , my question is how do we know 'shield' is one of the newNode

[2020-01-30 14:42] sduerpang commented on #79
also , how do we get node's attribute's key ?

[2020-01-30 16:19] SmooothSoundz commented on #79
Join the Discord so I can help you get in contact with someone who can help
you.

https://discord.gg/P2UkBvY

On Thu, Jan 30, 2020, 9:42 AM sduerpang <notifications@github.com> wrote:

[2020-03-25 16:58] shantanuaryan67 commented on #76
Hey. I've tried to update the bob plugin. It is a bit buggy and mostly works well.
If anyone has the original source code, I can look into it and make it better.
I am also working on another addon that will improve the workflow of creating models for the game.

forked repo: https://github.com/shantanuaryan67/BombSquad-Community-Mod-Manager/tree/master/utils/blender_2-80

[2020-04-18 15:15] Rishav-G commented on #76
@shantanuaryan67 i am having an error while exporting bob files.
![2020-04-18](https://user-images.githubusercontent.com/43693024/79641487-7332e380-81b5-11ea-96a6-5bc0ad65ebff.png)

[2020-04-18 16:06] shantanuaryan67 commented on #76
@Rishav-G . Oh, that's funny. The error only shows up when exporting bob file with the old method. When using batch import, I get no errors. Also, the same line of code is used in exporting cob, but no errors in that

[2020-04-18 18:43] Rishav-G commented on #76
@shantanuaryan67 so any solution for the problem??
And please can you explain how to do batch import ? I am unable to understand that

[2020-04-18 18:51] shantanuaryan67 commented on #76
@Rishav-G bob export should work now however cob export is still broken. to use batch import, make sure you have both addons installed, then in 3d viewport you will get a bombsquad panel in create tab. just select the models directory and enter 'neospaz' as the name. click import and you should get the entire character assembled

[2020-04-18 19:04] Rishav-G commented on #76
@shantanuaryan67 so sorry i misunderstood batch import with export.

Thanks for such speedy work.
So now exporting bob is working but not cob??

[2020-04-18 19:22] shantanuaryan67 commented on #76
@Rishav-G yes

[2020-04-19 09:02] Rishav-G commented on #76
@shantanuaryan67 i know u told me exporting cob has some error but my model cob was exported successfully but in game it gave me this error.
![error22](https://user-images.githubusercontent.com/43693024/79683845-76c47a00-824a-11ea-8a3b-4f9ee260b057.png)

[2020-04-19 10:34] shantanuaryan67 commented on #76
@Rishav-G yes. it only exports the vertices not faces. therefore no error in blender but the game throws error

[2020-04-19 10:37] Rishav-G commented on #76
@shantanuaryan67 ok.
So are you working on this error??
Eagerly waiting for this to get solved as i dont know anything about coding.

[2020-04-25 13:40] Rishav-G commented on #76
@shantanuaryan67 any updates?

[2020-05-03 18:01] SmooothSoundz commented on #76
I just use Blender 2.79b...

[2020-05-03 18:17] TheMikirog commented on #76
_"Oh, screw the guys who like the new interface and navigation of the new Blender in comparison to the old one and don't want to jump between two different versions just to make a BombSquad map!"_

[2020-05-03 18:47] SmooothSoundz commented on #76
![image](https://user-images.githubusercontent.com/47755225/80922727-ef4c3000-8d4c-11ea-8599-b6253658221f.png)

Maybe you could help fix the cob issue...

[2020-08-23 07:27] mostafamklmkl commented on #33
hello i have 12 servers .
now my servers are off . i make update for them .
can you learm me how to make ban and chat lists in site .
chat list for report

[2020-08-23 07:29] mostafamklmkl commented on #33
i make ban player in server but i want make it for my admins , they should can ban id from site

[2020-08-23 07:29] mostafamklmkl commented on #33
my english is not good . sorry

[2020-08-27 11:59] TheMikirog commented on #79
Thing is, there's no official reference list. All of the knowledge we know are from just analyzing the code.

[2020-08-30 06:27] HET396 commented on #67
🥺🥺🥺Hi guys, i am new in bs but i know to edit script but pls pls pls tell me how to edit 3d fly powerup in bs pls tell from starting idk anything where to paste python 🥺🥺😭😭

[2020-08-30 08:50] SmooothSoundz commented on #67
You can find 3D Fly Maps and more mods here for version 1.4. I'm not sure if it has been created on version 1.5. But I'm sure it's being worked on.

https://github.com/rahulraman0108/BombSquad-Server

I've added a powerup version of it in my servers. Maybe I can help you create it too. Join my Discord https://discord.gg/P2UkBvY

[2020-09-08 18:03] SimonRiley1001 commented on #67
Pythonistas in action🌟🌟

[2020-09-11 03:18] HET396 commented on #67
Im still not getting 3d fly moment the link which u gave doesn't work.

On Tue, 8 Sep 2020, 11:33 pm SimonRiley1001, <notifications@github.com>
wrote:

[2020-09-20 11:00] Teals53 opened #81 "UPDATE PLS"
Pls update for latest bombsquad build plss

[2020-09-26 05:21] saipavan-usp opened #82 "Mod Manager not showing"
i did everything as told in readme in android and linux. but i didn't get mod manager in both. how can i get that ?

[2020-10-03 03:15] #82 closed, assigned to nobody

[2020-10-08 07:29] shantanuaryan67 commented on #76
@Rishav-G @TheMikirog I have updated the script. Everything should work now.

[2020-12-03 15:34] felix-ops commented on #5
This excellent tool is not working on current builds of blender 2.9 versions, updating this tool is greatly appreciated.  Anyways thanks for the effort !

[2021-02-21 08:18] WUTcappythemodguy opened #83 "not working on current version"
if this is still being worked on you need to update it!

[2021-02-21 13:57] MattZ45986 commented on #83
Thank you for the heads up @WUTcappythemodguy . This repository has been inactive for a while now, which is a shame. I haven't kept up with the recent Bombsquad updates, so I'd have to look into what's changed with 1.5 and what needs to be ported over. If there's anything in specific you had in mind, I could give it some attention.

[2021-02-21 14:11] MattZ45986 commented on #81
I'll look into it. If you'd like to help, let me know.

[2021-02-22 03:25] Mikahael commented on #69
Interesting ideas you guys have. However, I also plan to add a few bombs and powerups, similar to what Rahul sir has done.

[2021-02-22 13:52] Teals53 commented on #81
im not enought skilled to help you bro sorry im barely edit smthng for my little servers :(

[2021-02-22 15:19] #81 closed, assigned to nobody

[2021-02-27 16:30] #34 closed, assigned to nobody

[2021-03-19 17:29] mrc2rules opened #84 "Update This Please"
This isn't working with the current version. Someone please make a pull request and make a working one!

[2021-04-04 14:43] Roshan0143 opened #85 "installer.py not working"
Hello, i had tried putting installer.py in bombsquad mod folder but its not working. Does using mod requires pro version?
Somebody help over here...

[2021-04-26 22:21] aoplop opened #86 "When will the new version for latest bomb squad be out?"
The installer isnt working in the latest bomb squad when will it get updated?

[2021-04-29 08:32] CyberGame1410 opened #87 "Can you make the character workflow addon for blender 2.79?"
I can't run blender 2.8 on my laptop, so can you make it(character workflow) for blender 2.79? Sorry for my bad english

[2021-05-11 05:16] TheMikirog commented on #86
This project is essentially abandoned.

[2021-09-11 07:24] Ishwor-git opened #88 "Mod manager not working"
Version 1.6.4

[2021-09-11 07:26] Ishwor-git commented on #88
I copied installer.py to bombsquad folder in my phone but mod option is not showing while opening game. No text appear at bottom of game about script running. My android version is 11

[2021-09-11 10:32] Gengar-lab commented on #88
These mods only work for BombSquad 1.4 or less version

[2021-09-11 11:00] Ishwor-git commented on #88
@Xoti-lab are there any mods for this version ?

[2021-10-14 08:56] TheSmartCoder commented on #69
does anyone know how to make a snowball shooter and a speed powerup ?

[2022-03-09 15:58] DblMKAP commented on #5
dead link. please reupload

[2022-03-26 15:57] hodayfa000h opened #89 "i can,t download the mod manager"
help your website isn,t working i can,t download the mod manager

[2022-09-15 09:40] Dymkar opened #90 "Outlines"
Hey all, anyone know how to make outlines on characters? I tried "Inverted hull" metod but outlines just dont appear in game.

[2022-11-28 15:27] #30 closed, assigned to nobody